<div class='home'>
  <div class='home__wrap'>
    <div class='home__logo'>
      <img alt='' src='assets/images/logo.svg'>
      <span>{{ "SYSTEM.TITLE" | translate }}</span>
    </div>
    <div class='home__text'>
      {{"AUTH.LOGIN.SUCCESS" | translate : { username: userName } }}</div>
    <nav class='home__menu'>
      <div class='row justify-content-center'>
        <ng-container *ngFor='let item of sidebarMenu'>
          <div *ngIf='item.hidden' class='col-sm-4 col-6'>
            <a routerLink='{{item.link}}' routerLinkActive='active'>
              <span *ngIf='item.icon' [innerHTML]='item.icon | sanitizer'></span>
              {{ item.title | translate }}
            </a>
          </div>
        </ng-container>
      </div>
    </nav>
  </div>
</div>
