<div class='content__block'>
  <div class='filter__control'>
    <div class='filter__control-left'>
      {{ "PAGINATION.COUNT_POST" | translate }}: 10
    </div>
    <div class='filter__control-right'>
      <button class='siteButton padding min'>Добавить подопечного</button>
    </div>
  </div>
</div>
<div class='content__block'>
  <div class='content__bg'>
    <div class='content__overflow'>
      <table class='table'>
        <thead>
        <tr>
          <th>ID</th>
          <th>ФИО</th>
          <th>Дата рождения</th>
          <th>Регион</th>
          <th>Диагноз</th>
          <th>Сумма помощи</th>
          <th>Дата открытия сбора</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>A000</td>
          <td>Общая копилка фонда</td>
          <td>2020-09-02</td>
          <td>Регион</td>
          <td>Острый лимфотический лейктоз</td>
          <td>10 000 000 сум</td>
          <td>10.10.2010</td>
          <td></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
