@charset "utf-8";

$color1: #f0f7fd;
$color2: #3db549;
$color3: #65B1EF;
$color4: #a82682;


@import 'angular-notifier/styles.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "assets/css/grid";
@import "assets/css/ng-select-custom";
@import "ngx-bootstrap/datepicker/bs-datepicker.css";

* {
  box-sizing: border-box
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('assets/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamPro.woff') format('woff'),
  url('assets/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
  url('assets/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamPro-Medium.woff') format('woff'),
  url('assets/fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
  url('assets/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamPro-Bold.woff') format('woff'),
  url('assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('GothamPro-Light'),
  url('assets/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamPro-Light.woff') format('woff'),
  url('assets/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

$r: 'Gotham Pro', sans-serif;

body, html {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #000;
  font-family: $r;
  background: $color1;

  &.jw-modal-open {
    overflow: hidden;
  }
}

input, textarea, select, button {
  outline: none;
  box-sizing: border-box;
  font-family: $r;
  font-size: 16px;
}

input, textarea, select {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  background: none;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid $color1;
  border-radius: 5px;
  transition: all 0.4s ease;

  &:-webkit-autofill,
  &-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px lighten($color1, 2%) inset !important;
  }

  &:focus, &:hover {
    background-color: lighten($color1, 2%);
  }

  &:focus {
    border-color: $color2;
  }

  &.ng-touched.ng-invalid {
    border-color: #f00;
  }

  &:disabled {
    border-color: darken(#f9f9f9, 10%);
    background: #f9f9f9;
  }
}

select {
  padding: 0 40px 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;

  background-image: url('assets/images/select.svg');
  background-position: calc(100% - 4px) 50%;
  background-repeat: no-repeat;

  background-size: 30px auto;

  &::-ms-expand {
    display: none;
  }

  &.min {
    height: 40px;
    min-height: 40px;
    line-height: 38px;
  }

  &.green {
    border-color: $color2;
    background-color: #fff;
  }
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color2;
  transition: all 0.4s ease;
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

/* Общие компоненты */
.formGroup {
  display: block;
  line-height: 1.2;
  margin-top: 20px;

  &:first-child {
    margin: 0;
  }

  label {
    display: block;
  }

  &__title {
    font-size: 15px;
    margin-bottom: 7px;
    display: block;

    span {
      color: #f00;
    }
  }

  &__db {
    display: flex;
    gap: 20px;

    &-grow {
      flex-grow: 2;
    }
  }

  &__input {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: none;
    border: 1px solid darken($color1, 10%);
    background: $color1;
    border-radius: 5px;
  }

  &__error {
    color: #f00;
    font-size: 13px;
    margin-top: 7px;
    display: block;
  }

  &__load {
    display: flex;
    gap: 10px;
    align-items: center;

    &-full {
      flex-grow: 2;
      width: 100%;
    }
  }
}

.siteButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 45px;
  border: 0;
  border-radius: 5px;
  background: $color2;
  color: #fff;
  gap: 10px;
  background: linear-gradient(180deg, $color2 0%, darken($color2, 5%) 100%);
  transition: none;

  &.block {
    display: flex;
    width: 100%;
  }

  &.padding {
    padding: 0 15px;
  }

  &.min {
    min-height: 40px;
    height: 40px;
  }

  &:hover {
    background: darken($color2, 5%);
  }

  &:active {
    background: darken($color2, 5%);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  }

  &.blue {
    background: linear-gradient(180deg, $color3 0%, darken($color3, 4%) 100%);

    &:hover {
      background: darken($color3, 5%);
    }

    &:active {
      background: darken($color3, 5%);
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &.grey {
    background: linear-gradient(180deg, #787878 0%, darken(#787878, 4%) 100%);

    &:hover {
      background: darken(#787878, 5%);
    }

    &:active {
      background: darken(#787878, 5%);
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &.red {
    background: linear-gradient(180deg, #f00 0%, darken(#f00, 10%) 100%);

    &:hover {
      background: darken(#f00, 5%);
    }

    &:active {
      background: darken(#f00, 5%);
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &:disabled {
    background: #ccc;

    &:active {
      box-shadow: none;
    }
  }
}

.required {
  &__text {
    span {
      color: #f00;
    }
  }
}

/* Общие компоненты */


/* СТРАНИЦА */
.wrapper {
  position: relative;
  padding: 20px 20px 20px 290px;
  min-height: 100%;
}

.sidebar {
  position: fixed;
  top: 15px;
  left: 15px;
  bottom: 15px;
  width: 250px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__logo {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      max-width: 60px;
      display: block;
    }

    span {
      color: $color4;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__menu {
    margin-top: 20px;

    > ul {
      padding: 0;
      margin: 0;
      list-style: none;

      > li {
        margin-top: 5px;

        &:first-child {
          margin: 0;
        }

        > a {
          display: flex;
          align-items: center;
          gap: 10px;
          min-height: 45px;
          padding: 5px 20px;
          border-radius: 5px;
          color: #000;
          font-size: 15px;

          span {
            min-width: 20px;
            font-size: 0;
            line-height: 0;

            svg {
              transition: all 0.4s ease;
            }
          }

          &:hover, &.active {
            background: $color2;
            color: #fff;

            span svg {
              fill: #fff;
            }
          }

          &.active + ul {
            display: block;
          }
        }

        ul {
          padding: 10px 0 10px 20px;
          margin: 0;
          list-style: none;
          display: none;

          li {
            margin-top: 5px;

            &:first-child {
              margin: 0;
            }

            a {
              font-size: 14px;
              color: #000;

              &:hover {
                color: $color2;
              }
            }
          }
        }
      }
    }
  }

  &__userName {
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__button {
    display: flex;
    gap: 15px;
  }
}

.content {
  &__bg {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);

    &-padding {
      padding: 20px;
    }
  }

  &__overflow {
    overflow-x: auto;
  }

  &__padding {
    padding: 20px;
  }

  &__table {
    border-radius: 20px;
    overflow: hidden;
    overflow-x: auto;

    .spinner-container {
      overflow-x: auto;

      &:before {
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
      }

      .spinner-load {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 3;
      }
    }
  }

  &__block {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  &__title {
    display: flex;
    gap: 10px;
    align-items: center;

    button {
      width: 40px;
      height: 40px;
      min-height: 40px;

      svg {
        transform: rotate(180deg);
      }
    }

    h1 {
      margin: 0;
    }
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;

  tr {
    &:nth-child(even) {
      background: lighten($color1, 2%);
    }

    &:hover {
      background: lighten($color1, 1%);
    }

    &:first-child:hover {
      background: none;
    }


    &:last-child, &:nth-last-child(2) {
      .contextmenu ul {
        top: auto;
        bottom: -10px;
      }
    }
  }

  th {
    padding: 10px;
    font-weight: 500;
    border-left: 1px solid $color1;

    div {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
    }

    span {
      vertical-align: middle;
      line-height: 0;
      font-size: 0;

      &.rotate {
        transform: rotate(180deg);
      }

      img {
        width: 23px;
      }
    }

    &:first-child {
      border-left: 0;
    }

  }

  td {
    border-top: 1px solid $color1;
    border-left: 1px solid $color1;
    padding: 10px;

    &:first-child {
      border-left: 0;
    }
  }

  &__pay-system {
    img {
      max-width: 70px;
    }
  }

  &__th {
    &-sort {
      cursor: pointer;

      &:hover {
        background: lighten($color1, 2%);
      }
    }
  }

  &__tr {
    &-close {
      background: rgba(255, 0, 0, 0.05) !important;

      td {
        border-color: rgba(255, 0, 0, 0.1) !important;
      }

      + tr {
        td {
          border-top-color: rgba(255, 0, 0, 0.1) !important;
        }
      }
    }
  }
}

.boxes {
  &__closeLabel {
    background: rgba(255, 0, 0, 0.6);
    padding: 0 15px;
    color: #fff;
    border-radius: 5px;
    line-height: 40px;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 1;

    color: $color4;
    font-weight: 500;
    font-size: 22px;

    img {
      max-width: 150px;
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
  }

  &__menu {
    max-width: 600px;
    width: 100%;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 120px;
      background: #fff;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
      border-radius: 20px;
      font-size: 16px;
      color: #000;
      gap: 6px;
      line-height: 1;

      svg {
        height: 35px;
        max-height: 35px;
        transition: all 0.4s ease;
        display: block;
      }

      &:hover {
        background: $color2;
        color: #fff;

        svg {
          fill: #fff;
        }
      }
    }
  }
}


/* СТРАНИЦА */


/* МОДУЛИ */
.auth {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    img {
      max-width: 100px;
      display: block;
    }

    &-text {
      line-height: 1.3;
      font-size: 22px;
      font-weight: 500;

      span {
        font-size: 30px;
        display: block;
        color: $color4;
        font-weight: 500;
        letter-spacing: 2.5px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 21px;
  }

  &__wrap {
    max-width: 400px;
    width: 100%;

    &-bg {
      position: relative;
      padding: 30px 30px;
      background: #fff;
      border-radius: 20px;
      margin-top: 30px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
    }
  }

  &__copyright {
    margin-top: 20px;
    text-align: center;

    a {
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: lighten($color2, 20%);
      }
    }
  }
}

.loading {
  &__text {
    font-size: 20px;
    font-weight: 500;
  }
}

/* МОДУЛИ */


/* КОМПОНЕТЫ */
.spinner {
  &-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &-load {
      &:before {
        content: '';
      }

      .spinner-load {
        display: block;
      }
    }
  }

  &-load {
    width: 25px;
    min-width: 25px;
    height: 25px;
    z-index: 1;
    display: none;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      border: 2px solid $color2;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $color2 transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

.notifier {
  &__notification {
    &--success {
      background: $color2;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bs-datepicker {
  box-shadow: none;

  &-container {
    padding: 0;
    margin-top: 5px;
  }

  &-body {
    table {
      &.days {
        th:first-child, td:first-child {
          display: none;
        }
      }

      td {
        color: #000;
      }
    }
  }
}

.theme-green .bs-datepicker-head {
  background: $color2;
}

.filter {
  border-radius: 10px 0 0 10px;
  background: #fff;
  max-width: 650px;
  padding: 20px;
  margin-left: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    &-left {
      display: flex;
      gap: 20px;
      align-items: center;
      white-space: nowrap;
      flex-wrap: wrap;
      flex-grow: 2;

      select {
        max-width: 150px;
      }
    }

    &-right {
      display: flex;
      gap: 15px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__close {
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
      display: block;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

jw-modal {
  display: none;

  .jw-modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: row;

    &-body {
      width: 100%;
      flex-grow: 2;
      overflow-y: auto;
    }
  }

}

.pagination {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__pageCount {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;

    input {
      width: 35px;
      padding: 5px;
      text-align: center;
      -moz-appearance: textfield;
      border: 1px solid $color2;
      background: #fff;
      height: 35px;
      line-height: 35px;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    select {
      border: 1px solid $color2;
      background-color: #fff;
      height: 35px;
      line-height: 35px;
      padding-left: 15px;
      padding-right: 30px;
    }

    button {
      min-width: 35px;
      width: 35px;
      min-height: 35px;
      height: 35px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;

    &:before, &:after {
      display: none;
    }

    li {
      border: 0;
      padding: 0 !important;
      margin: 0 0 0 8px !important;

      &.small-screen {
        display: none !important;
      }

      &:first-child {
        margin: 0 !important;
      }

      &.current {
        background: none;

        span {
          color: #fff;
        }
      }

      &:first-child {
        border: 0;
      }

      > a, > span {
        min-width: 35px;
        display: block;
        height: 35px;
        white-space: nowrap;
        padding: 0 6px;
        line-height: 33px;
        text-align: center;
        text-decoration: none;
        background: #FAFAFA;
        border-radius: 5px;
        font-size: 16px;
        transition: none;

        > span {
          display: block;
          line-height: 33px;
        }
      }

      > a {
        border: 1px solid $color2;

        &:hover {
          background: $color2;
          border-color: $color2;
          color: #fff;
        }
      }

      > span {
        border-color: $color2;
        background: $color2;
        color: #fff;

        > span {
          &:first-child {
            display: none !important;
          }
        }
      }

      .show-for-sr {
        display: none;
      }

    }
  }

  &-next, &-previous {
    &:before, &:after {
      display: none !important;
    }

    a {
      &:before, &:after {
        display: none !important;
      }
    }
  }

  &-previous, &-next {
    span, a {
      font-size: 0 !important;
      line-height: 0 !important;

      &:before {
        font-size: 16px;
        line-height: 33px;
        content: '<' !important;
        margin: 0 !important;
        display: block !important;
      }
    }
  }

  &-next {
    span, a {
      &:before {
        content: '>' !important;
      }
    }
  }

}

.donateModal {
  border-radius: 10px;
  background: #fff;
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
    }
  }

  &__result {
    border-right: 1px solid $color1;
    border-bottom: 1px solid $color1;
    margin-top: 30px;

    table {
      border-spacing: 0;
      width: 100%;
      text-align: center;

      tr {
        th {
          white-space: nowrap;
          font-weight: 500;
        }

        th, td {
          padding: 15px;
          border-left: 1px solid $color1;
          border-top: 1px solid $color1;
        }

        td {
          padding: 5px 15px;
          white-space: nowrap;
          height: 49px;
        }
      }

      img {
        max-height: 25px;
        display: block;
        margin: 0 auto;
      }

      input {
        width: 126px;
        text-align: center;
        margin: -6px -16px;
        border-radius: 0;
        position: relative;

        &:focus {
          z-index: 2;
        }

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}

.contextmenu {
  position: relative;
  padding: 5px;
  display: inline-block;
  vertical-align: top;

  &:hover, &.active {
    z-index: 2;

    ul {
      display: block;
    }
  }

  img {
    display: block;
    min-width: 24px;
  }

  ul {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 5;
    margin: 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    display: none;

    li {
      margin-top: 5px;

      &:first-child {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
      }

      a {
        line-height: 34px;
        padding: 0 14px;
        font-weight: 400;
        font-size: 14px;
        color: #595959 !important;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          text-decoration: none !important;
          background: #f1f1f1;
        }

        > span {
          min-width: 25px;
          width: 25px;
          height: 25px;

          > span {
            width: 25px;
            height: 25px;
          }

          > div {
            height: 25px;

            &:before {
              display: none;
            }
          }
        }
      }

      &.delete {
        padding-top: 5px;
        border-top: 1px solid #F1F1F1;

        a {
          color: #F7685B !important;

          &:hover {
            background: #fbe4e2;
            text-decoration: none !important;
          }
        }
      }

      &.accept a {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #0C6154 0%, #0E8B58 100%);
        color: #fff !important;

        &:hover {
          background: #f1f1f1;
          color: #595959 !important;
        }
      }
    }
  }
}

.map {
  height: 400px;
}

/* КОМПОНЕТЫ */
